.main-posts{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    align-items: stretch;
}

.post-esqueda,
.post-destaque,
.side-posts {
    display: flex;
    flex-direction: column; /* Para que os itens internos alinhem-se verticalmente */
    justify-content: space-between; /* Distribui o conteúdo uniformemente */
    height: 100%;
}

.post-preview,
.post-conteudo,
.postagem-direita {
    flex-grow: 1; /* Garante que ocupem todo o espaço disponível */
}

.side-posts ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.side-posts ul li {
    flex-grow: 1;
    margin-bottom: 2rem; /* Adiciona espaçamento entre as postagens laterais */
}

.side-posts ul li:last-child {
    margin-bottom: 0; /* Remove o espaçamento do último item da lista */
}

/* DESTAQUE */
.post-destaque .post-conteudo h2{
    font-size: 3rem;
}

.post-destaque .post-conteudo span, 
.post-destaque .post-conteudo p{
    font-size: 1.8rem;
}

/* POSTAGENS ESQUERDA */
.post-esqueda .post-preview span,
.post-esqueda .post-preview p{
    font-size: 1.8rem;
}

.post-preview span, p{
    font-size: 1.5rem;
}

/* POSTAGENS DIREITA */
.side-posts ul{
    list-style: none;
}

.info-direita span, p{
    font-size: 1.5rem;
}

.postagem-direita{
    display: flex;
    align-items: center;
}


/* OUTROS POSTS */
.separador {
    text-align: center;
    letter-spacing: 1px;
    padding: 10px 0;
    border-top: 2px solid var(--cor-cinza-clara);
    border-bottom: 2px solid var(--cor-cinza-clara);
    margin: 40px 0;
}

.separador h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3rem;
}


.post-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.post-grid h3{
    font-size: 2rem;
}

.post-grid span, p{
    font-size: 1.5rem;
}

.post-grid img{
    width: 100%;
    height: auto;
}