.pagina-informacao{
  flex: 1;
  max-width: 50%;
}

.pagina-informacao h1{
    font-size: 2.4rem;
    color: var(--cor-primaria-escura);
    line-height: 120%;
    margin-bottom: 5px;
  }

  .pagina-informacao p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--cor-secundaria-escura);
    margin: 0;
    font-size: 1.5rem;
  }

  .pagina-informacao .destaque-texto-home{
    color: var(--cor-primaria-escura);
  }

  .pagina-informacao .destaque-texto {
    font-weight: 800;
    color: var(--degrade-primario);
  }

  .pagina-informacao li{
    color: var(--cor-primaria);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 5px auto auto 40px;
    font-size: 1.5rem;
  }

  .pagina-informacao ul{
    margin-bottom: 25px;
  }

  .img-inicial {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-inicial img{
    max-width: 100%;
    max-width: 1000px;
    width: 1000px;
    height: auto;
  }

  .botao-sobre-mim{
    color: var(--cor-clara);
    padding: 5px 25px;
    font-size: 2.5rem;
  }