header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cor-clara); /*Fundo branco*/
  border-bottom: 1px solid var(--cor-cinza-clara); /*borda inferior*/
  z-index: 1000; /*Garante que os elementos fique sobre os outros elementos*/
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 250px;
}

.logo img{
  max-width: 100%;
  width: 180px;
  height: auto;
}

/*Menu de navegação*/
.menu-navegacao ul{
  list-style: none;
  display: flex;
  gap: 15px; /*Espaçamento entreos elementos*/
}

.menu-navegacao a{
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--cor-secundaria-escura);
  text-decoration: none;
  padding: 5px 15px;
  position: relative;
  transition: color 0.3s ease;
  line-height: 2rem;
}

/*Estilo quando o item está selecionado ou ativo*/
.menu-navegacao a.ativo{
  color: var(--cor-primaria);
  font-weight: 800;
}

.menu-navegacao a.ativo::after {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: var(--cor-primaria);
}

.menu-navegacao .botao-contato{
  color: var(--cor-clara);
  padding: 10px 50px;
  font-size: 2.7rem;
}