@media (max-width: 1920px) {
  .pagina-informacao h1{
    font-size: 2.8rem;
  }

  .pagina-informacao P{
    font-size: 1.8rem;
  }

  .pagina-informacao li{
    font-size: 1.8rem;
  }

  .img-inicial img{
    width: 700px;
  }

  .container{
    margin: 25px 100px;
  }

  section{
    margin: auto 100px;
  }
  
}

@media (max-width: 1520px) {
  .pagina-informacao h1{
    font-size: 2.5rem;
  }

  .pagina-informacao p{
    font-size: 1.5rem;
  }

  .pagina-informacao li{
    font-size: 1.5rem;
  }

  .img-inicial img{
    width: 500px;
  }

  .container{
    margin: 25px 100px;
  }

  section{
    margin: auto 100px;
  }
}

@media (max-width: 1080px) {
  nav ul {
    flex-direction: column;
    background-color: #444;
  }
  
  section {
    padding: 80px 10px;
  }
}

