@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Karantina Font */
.karantina-light { font-family: "Karantina", system-ui; font-weight: 300; }
.karantina-regular { font-family: "Karantina", system-ui; font-weight: 400; }
.karantina-bold { font-family: "Karantina", system-ui; font-weight: 700; }

/* Karla Font */
.karla-light { font-family: "Karla", sans-serif; font-weight: 200; }
.karla-regular { font-family: "Karla", sans-serif; font-weight: 400; }
.karla-bold { font-family: "Karla", sans-serif; font-weight: 700; }

/* Poppins Font */
.poppins-light { font-family: "Poppins", sans-serif; font-weight: 300; }
.poppins-regular { font-family: "Poppins", sans-serif; font-weight: 400; }
.poppins-semibold { font-family: "Poppins", sans-serif; font-weight: 600; }
.poppins-bold { font-family: "Poppins", sans-serif; font-weight: 700; }
.poppins-black { font-family: "Poppins", sans-serif; font-weight: 900; }

.poppins-italic { font-style: italic; }
