/* ================================
   5. Componentes Reutilizáveis
==================================*/
.btn {
  font-family: var(--font-destaque);
  display: inline-block;
  padding: 0.5rem 7.5rem;
  background: var(--color-secondary);
  background: linear-gradient(90deg,rgba(255, 107, 0, 1) 0%, rgba(255, 179, 124, 1) 100%);
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 1.125rem;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: background 0.3s ease;
}

.btn:hover {
  background: var(--color-secondary);
}

.btn-contorno{
  font-family: var(--font-destaque);
  display: inline-block;
  padding: 0.5rem 7.5rem;
  background: var(--white);
  color: var(--color-secondary);
  border: solid 2px var(--color-secondary);
  border-radius: 14px;
  font-size: 1.125rem;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: background 0.3s ease;
}

@media (min-width: 480px) { }   /* celulares grandes */
@media (min-width: 768px) { }   /* tablets */
@media (min-width: 1024px) { }  /* desktops */
@media (min-width: 1280px) { }  /* telas largas */
