/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Reset básico para zerar estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo variáveis de cores e tipografia */
:root {
    --cor-primaria-escura: #3A3A3A;
    --cor-primaria: #FF6B00;
    --cor-secundaria-escura: #8D8D8D;
    --cor-clara: #FFFFFF;
    --cor-cinza-clara: #E0E0E0;
    --degrade-primario: linear-gradient(45deg, #FF6B00, #FFB37C);

    --font-karantina-light: "Karantina", system-ui, sans-serif;
    --font-karantina-regular: "Karantina", system-ui, sans-serif;
    --font-karantina-bold: "Karantina", system-ui, sans-serif;

    --font-karla-light: "Karla", sans-serif;
    --font-karla-regular: "Karla", sans-serif;
    --font-karla-bold: "Karla", sans-serif;

    --font-poppins-light: "Poppins", sans-serif;
    --font-poppins-regular: "Poppins", sans-serif;
    --font-poppins-semibold: "Poppins", sans-serif;
    --font-poppins-bold: "Poppins", sans-serif;
    --font-poppins-black: "Poppins", sans-serif;
}

/* Estilos gerais do corpo */
body {
    font-family: var(--font-poppins-regular);
    color: var(--cor-primaria-escura);
    background-color: var(--cor-clara);
    line-height: 1.6;
}

/* Estrutura básica para seções */
section {
    padding: 2rem; /* Altere conforme necessário */
    margin-bottom: 2rem; /* Espaçamento entre seções */
    border: 1px solid transparent; /* Para visualização, pode remover ou alterar */
}

/* Estilo do título das seções */
h1, h2, h3 {
    color: var(--cor-primaria);
    margin-bottom: 1rem;
}

/* Estilos para botões */
button {
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--cor-secundaria-escura);
}

/* Estilos para links */
a {
    color: var(--cor-primaria);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos específicos para o carrossel */
.carousel-container {
    position: relative;
    overflow: hidden; /* Para esconder partes do carrossel fora do contêiner */
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease; /* Para animação suave ao mover os slides */
}

.post-item {
    flex: 0 0 100%; /* Cada post ocupa 100% do contêiner */
}

/* Estilos para imagens */
img {
    max-width: 100%;
    height: auto; /* Para manter a proporção */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    section {
        padding: 1rem; /* Menos padding em telas menores */
    }

    h1, h2, h3 {
        font-size: 1.2rem; /* Ajuste de tamanho de fonte em telas pequenas */
    }
}
